@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cathy's Cake Creations</h1>
    <p class="lead">Serve a cake that people will remember!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lots of styles to choose from</h2>
        <p>
            <ul>
                <li>Sheet Cakes</li>
                <li>Multi-Layered</li>
                <li>Round Cakes</li>
                <li>...and more!</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Great look and great taste! </h2>
        <p>You don't have to decide if you want your cake to look great with fondent, or taste great with icing; have both!</p>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>